@import './scss/Variables';

/* Dependencies */
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import '~rc-slider/assets/index.css';

/* Components */
@import './scss/Section';
@import './scss/FirstLaunchWindow';
@import './scss/Sidebar';
@import './scss/Buttons';
@import './scss/MusicPlayerBar';
@import './scss/Slider';
@import './scss/Table';
@import './scss/Cards';
@import './scss/MainContentHeader';
@import './scss/AudioSourcesSettings';

/* Pages */
@import './scss/MainLibrary';
@import './scss/Settings';
@import './scss/Playlist';
@import './scss/Queue';

* {
  margin: 0;
  padding: 0;
}

body,
html,
#root,
.App {
  height: 100%;
}

input {
  caret-color: $main-fg-color;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  background-color: $secondary-bg-color;
  color: $secondary-fg-color;
  overflow: hidden;
}

.App {
  display: flex;
}

.MainContent {
  background-color: $main-bg-color;
  width: 100%;
  margin: 10px;
  margin-left: 0;
  border-radius: 15px;
  box-shadow: 0 0 10px 3px #0000003b;
  position: relative;

  .rc-scrollbars-container {
    height: calc(100% - #{$player-height}) !important;
    border-radius: 15px;
    .Content {
      padding: 20px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

.HeaderBar {
  // position: absolute;
  // z-index: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.rc-scrollbars-thumb {
  opacity: 0.8;
  &:hover,
  &:active {
    cursor: default !important;
    background-color: $main-fg-color !important;
  }
}

.titlebar {
  justify-content: flex-end !important;
  left: auto !important;
  right: 0 !important;
  width: calc(100% - 73px) !important;
  .window-controls-container {
    background-color: rgba(160, 160, 160, 0.2);
  }
  .window-title {
    display: none;
  }

  .menubar {
    display: none;
  }
}

.container-after-titlebar {
  inset: 0 !important;
  height: 100%;
}
