@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import './scss/Variables';
@import './scss/Sidebar';
@import './scss/Buttons';
@import './scss/MusicPlayerBar';
@import './scss/Slider';
@import './scss/Table';
@import './scss/MainLibrary';

body,
html,
#root,
.App {
  height: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  background-color: $secondary-bg-color;
  color: $secondary-fg-color;
  overflow: hidden;
}

.App {
  display: flex;
}

.MainContent {
  background-color: $main-bg-color;
  width: 100%;
  margin: 10px;
  margin-left: 0;
  border-radius: 15px;
  box-shadow: 0 0 10px 3px #0000003b;
  position: relative;
  .HeaderBar {
    position: absolute;
    z-index: 1;
    margin-top: 15px;
    margin-left: 18px;
  }
  .rc-scrollbars-container {
    height: calc(100% - #{$player-height}) !important;
    border-radius: 15px;
    .Content {
      padding: 20px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.rc-scrollbars-thumb {
  opacity: 0.8;
  &:hover,
  &:active {
    cursor: default !important;
    background-color: $main-fg-color !important;
  }
}
