@import './scss/Variables';
@import './scss/Sidebar';
@import './scss/IconButton';
@import './scss/MusicPlayerBar';

body {
  margin: 0;
  padding: 0;
  background-color: $main-bg-color;
  color: #f0f0f0;
  overflow: hidden;
}

.App {
  display: flex;
  align-items: stretch;
}

.MainContent {
  background-color: $main-content-bg-color;
  margin: 8px;
  margin-left: 0;
  width: 100%;
  height: inherit;
  // border-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 0 10px 3px #0000003b;

  .Content {
    overflow-y: scroll;
    // height: 500px;
    position: inherit;
    padding: 20px;

    /*Thinner scrollbar*/
    ::-webkit-scrollbar {
      height: 6px !important;
      width: 6px !important;
      background-color: transparent;
    }

    /*Round corner scrollbar*/
    ::-webkit-scrollbar-thumb {
      border-radius: 3px !important;
    }

    /*Hide top and bottom buttons of scrollbar */
    /*who uses those, lol*/
    ::-webkit-scrollbar-button {
      display: none !important;
    }
    // overflow-y: hidden;
  }
}
