.IconButton {
  background-color: transparent;
  border: none;
  color: $secondary-fg-color;
  font-size: 16px;
  vertical-align: middle;
  padding: 0;
  border-radius: 50%;
  .icon {
    width: 1.2em;
    height: 1.2em;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    color: $main-fg-color;
    cursor: default;
  }
}

.PlayPauseButton {
  color: $main-fg-color;
  .icon {
    padding-top: 2px;
    width: 3em;
    height: 3em;
  }
  &:hover {
    .icon {
      transform: scale(1.0625);
    }
  }
}

.VolumeButton {
  float: right;
  padding-top: 15px;
  padding-right: 20px;
}

.HeaderBar {
  .IconButton {
    color: $main-fg-color;
    margin-right: 10px;
    .icon {
      width: 1.3em;
      height: 1.3em;
    }
    &:hover {
      color: $secondary-fg-color;
    }
    &:disabled {
      color: $slider-bg-color;
    }
  }
}
