.Card {
  display: flex;
  align-items: center;
  text-align: center;
  // display:block;
  float: left;
  flex-direction: row !important;
  img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}
figure {
  margin-inline-start: 1em;
  margin-inline-end: 1em;
}

figcaption {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
