.DataList {
  .window-scroller-override {
    width: 100% !important;
    height: 100% !important;
  }
  .Filter {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $main-fg-color;
    position: relative;
    .Icon {
      left: 10px;
      position: absolute;
      z-index: 0;
      pointer-events: none;
    }
    .FilterInput {
      background-color: transparent;
      border-radius: 0;
      margin-left: 5px;
      padding: 0 28px;
      padding-bottom: 8px;
      vertical-align: middle;
      width: 100%;
      color: $main-fg-color;
      border: none;
      z-index: 1000;
      &:focus {
        outline: none;
      }
    }
    &:hover {
      color: $main-fg-color;
      cursor: text;
      .FilterInput::placeholder {
        color: $main-fg-color;
      }
    }
  }

  .List {
    $outer-padding: 0 10px;
    font-size: 14px;
    cursor: default;
    .LeftOptions,
    .Duration {
      text-align: right;
    }
    $first-grid-column-size: 0.3fr;
    $grid-column-sizes: 3fr 2fr 0.8fr 0.5fr;
    $grid-column-gap: 10px;
    .Icon {
      width: 1.5em;
      height: 1.5em;
    }
    .Head {
      display: grid;
      grid-template-columns: $first-grid-column-size $grid-column-sizes;
      @media (min-width: 1340px) {
        grid-template-columns: 0.2fr $grid-column-sizes !important;
      }
      @media (min-width: 1600px) {
        grid-template-columns: 0.1fr $grid-column-sizes !important;
      }
      column-gap: $grid-column-gap;
      padding: $outer-padding;
      align-items: center;
      position: sticky;
      height: 40px;
      background-color: $main-bg-color;
      z-index: 100;
      div {
        letter-spacing: 2px;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        &:hover {
          color: $main-fg-color;
          cursor: default;
        }
      }
    }

    .Items {
      .Item {
        padding: $outer-padding;
        display: grid;
        grid-template-columns: $first-grid-column-size $grid-column-sizes;
        @media (min-width: 1340px) {
          grid-template-columns: 0.2fr $grid-column-sizes !important;
        }
        @media (min-width: 1600px) {
          grid-template-columns: 0.1fr $grid-column-sizes !important;
        }
        grid-auto-rows: 50px;
        column-gap: $grid-column-gap;
        align-items: center;
        border-radius: 3px;
        .LeftOptions {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
        .MusicInfo {
          align-items: center;
          display: flex;
          white-space: nowrap;
          overflow: hidden;
          .AlbumArt {
            width: $small-album-art-size;
            height: $small-album-art-size;
            border-radius: 3px;
          }
          .TextContainer {
            margin-left: 6px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            .Title {
              font-weight: 600;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .Artists {
              font-size: 12px;
              letter-spacing: 0.015em;
              line-height: 18px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        .Album {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .Added {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .Duration {
          text-align: right;
        }
        .PlayingIcon {
          width: 1.3em;
          height: 1.3em;
          display: none;
        }
        .PlayButton,
        .PauseButton {
          display: none;
          width: 24px;
          height: 24px;
          margin-right: -4px;
          justify-content: center;
          align-items: center;
        }
        &:hover {
          background-color: $selected-bg-color;
          .LeftOptions {
            .Order {
              display: none;
            }
            .PlayButton {
              display: flex;
            }
          }
        }
      }
      .Active {
        background-color: $selected-bg-color !important;
        .Order {
          display: block !important;
          color: $main-fg-color;
        }
        .PlayButton {
          display: none !important;
        }
        .PauseButton {
          display: none !important;
        }
        .MusicInfo {
          .TextContainer {
            .Title {
              color: $main-fg-color !important;
            }
          }
        }
        &:hover {
          .LeftOptions {
            .Order {
              display: none !important;
            }
            .PlayButton {
              display: flex !important;
            }
            .PlayingIcon {
              display: none !important;
            }
          }
        }
      }
      .Playing {
        .Order {
          display: none !important;
        }
        .PlayingIcon {
          display: block !important;
          color: $main-fg-color !important;
        }
        .PlayButton {
          display: none !important;
        }
        &:hover {
          .LeftOptions {
            .PlayButton {
              display: none !important;
            }
            .PauseButton {
              display: flex !important;
            }
            .PlayingIcon {
              display: none !important;
            }
          }
        }
        .MusicInfo {
          .TextContainer {
            .Title {
              color: $main-fg-color !important;
            }
          }
        }
      }
      .LoadingItem {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
      }
    }
  }
}

.NoMusicFound {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-size: 20px;
  font-weight: 600;
  .Icon {
    margin-bottom: 10px;
    width: 2em;
    height: 2em;
  }
}
