.StickyHeader {
  top: '30px';
  position: sticky;
  background-color: #44475a; // $main-bg-color

  .Input {
    padding-left: 15px;

    input {
      background-color: #44475a; // $main-bg-color
      border-radius: 0;
      background-position: left;
      background-repeat: no-repeat;
      width: 90%;
      // font-size: 16px;
      padding: 12px 20px 12px 10px;
      border: 1px solid #44475a;
      border-bottom: 1px solid #ffb86c;
      margin-bottom: 12px;
    }
  }
}
