.MusicList {
  .Filter {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ffb86c;
    position: relative;
    .Icon {
      left: 10px;
      position: absolute;
      z-index: 0;
    }
    .FilterInput {
      background-color: transparent;
      border-radius: 0;
      margin-left: 5px;
      padding: 0 28px;
      padding-bottom: 8px;
      vertical-align: middle;
      width: 100%;
      color: $main-fg-color;
      border: 1px solid #44475a;
      z-index: 1;
      &:focus {
        outline: none;
      }
    }
    &:hover {
      color: $main-fg-color;
      cursor: text;
      .FilterInput::placeholder {
        color: $main-fg-color;
      }
    }
  }
  .List {
    font-size: 14px;
    cursor: default;
    .Item,
    .Head {
      padding: 2px 10px;
      border-radius: 5px;
    }
    .LeftOptions {
      text-align: center;
    }
    .Duration {
      text-align: right;
      /* @media (max-width: 900px) {
        display: none;
      } */
    }
    .Head {
      top: 70px;
      position: sticky;
      text-align: left;
      align-items: center;
      .Icon {
        width: 1.5em;
        height: 1.5em;
      }
      .MuiGrid-root {
        letter-spacing: 2px;
        font-size: 11px;
        font-style: normal;
        font-weight: 300;
        &:hover {
          color: $main-fg-color;
        }
      }
    }
    .Item {
      align-items: center;
      margin: 3px 0;
      &:hover {
        background-color: rgba(150, 150, 150, 0.3);
        .LeftOptions {
          .Order {
            visibility: hidden;
          }
          .PlayButton {
            visibility: visible;
          }
        }
      }
      .LeftOptions {
        .PlayButton {
          visibility: hidden;
          position: absolute;
          .Icon {
            width: 1.5em;
            height: 1.5em;
          }
        }
        .PauseButton {
          display: none;
          .Icon {
            width: 1.5em;
            height: 1.5em;
          }
        }
      }
      .MusicInfo {
        // Fix the positioning later
        align-items: center;
        display: flex;
        white-space: nowrap;
        .AlbumArt {
          width: $small-album-art-size;
          height: $small-album-art-size;
          border-radius: 3px;
        }
        .TextContainer {
          margin-left: 6px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          overflow: hidden;
          .Title {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .Artists {
            font-size: 12px;
            letter-spacing: 0.015em;
            line-height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .Album,
      .Added,
      .MusicInfo {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    td {
      height: 50px;
    }
  }

  .List {
    font-size: 14px;
    cursor: default;
    .LeftOptions,
    .Duration {
      text-align: right;
    }
    /* Implement later
    @media (min-width: 1340px) {
      $first-grid-column-size: 0.1fr !default;
    } */
    $first-grid-column-size: 0.3fr;
    $grid-column-sizes: 3fr 2fr 0.8fr 0.5fr;
    $grid-column-gap: 10px;
    .Head {
      display: grid;
      grid-template-columns: $first-grid-column-size $grid-column-sizes;
      column-gap: $grid-column-gap;
      padding: 0 16px;
      top: 70px;
      position: sticky;
      div {
        letter-spacing: 2px;
        font-size: 11px;
        font-style: normal;
        font-weight: 300;
        &:hover {
          color: $main-fg-color;
          cursor: default;
        }
      }
    }

    .Items {
      .Item {
        padding: 0 16px;
        display: grid;
        grid-template-columns: $first-grid-column-size $grid-column-sizes;
        grid-auto-rows: 50px;
        column-gap: $grid-column-gap;
        margin-top: 5px;
        align-items: center;
        border-radius: 3px;
        .LeftOptions {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
        .MusicInfo {
          align-items: center;
          display: flex;
          white-space: nowrap;
          overflow: hidden;
          .AlbumArt {
            width: $small-album-art-size;
            height: $small-album-art-size;
            border-radius: 3px;
          }
          .TextContainer {
            margin-left: 6px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            .Title {
              font-weight: 600;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .Artists {
              font-size: 12px;
              letter-spacing: 0.015em;
              line-height: 18px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        .Album {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .Added {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .Duration {
          text-align: right;
        }
        .PlayingIcon {
          width: 1.3em;
          height: 1.3em;
          display: none;
        }
        .PlayButton {
          display: none;
        }
        .PauseButton {
          display: none;
        }
        &:hover {
          background-color: rgba(150, 150, 150, 0.3);
          .LeftOptions {
            .Order {
              display: none;
            }
            .PlayButton {
              display: block;
            }
          }
        }
      }
    }
    .Active {
      background-color: rgba(150, 150, 150, 0.3) !important;
      .Order {
        display: block !important;
        color: $main-fg-color;
      }
      .PlayButton {
        display: none !important;
      }
      .PauseButton {
        display: none !important;
      }
      .MusicInfo {
        .TextContainer {
          .Title {
            color: $main-fg-color !important;
          }
        }
      }
      &:hover {
        .LeftOptions {
          .Order {
            display: none !important;
          }
          .PlayButton {
            display: block !important;
          }
          .PlayingIcon {
            display: none !important;
          }
        }
      }
    }
    .Playing {
      .Order {
        display: none !important;
      }
      .PlayingIcon {
        display: block !important;
        color: $main-fg-color !important;
      }
      .PlayButton {
        display: none !important;
      }
      &:hover {
        .LeftOptions {
          .PlayButton {
            display: none !important;
          }
          .PauseButton {
            display: block !important;
          }
          .PlayingIcon {
            display: none !important;
          }
        }
      }
      .MusicInfo {
        .TextContainer {
          .Title {
            color: $main-fg-color !important;
          }
        }
      }
    }
  }
}

.NoMusicFound {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-size: 20px;
  font-weight: 600;
  .Icon {
    margin-bottom: 10px;
    width: 2em;
    height: 2em;
  }
}
