.MusicPlayerBar {
  width: fit-content;
  height: 70px;
  position: fixed;
  bottom: 10px;
  padding-left: 20px;
  background-color: $main-content-bg-color;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
