.MusicPlayerBar {
  width: fit-content;
  height: 70px;
  position: absolute;
  bottom: 10px;
  left: 72px;
  background-color: $main-content-bg-color;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
