.PlaylistHeader {
  padding-top: 30px;
  padding-bottom: 16px;
  font-size: 14px;

  .HeaderData {
    .HeaderLabel {
      font-size: 11px;
      letter-spacing: 0.16em;
    }
    .HeaderTitle {
      position: relative;
      .SaveControls {
        float: right;
        .IconButton {
          width: 25px;
          height: 25px;
          .Icon {
            width: 1.5em;
            height: 1.5em;
          }
          &:last-child {
            margin-left: 5px;
          }
        }
        .AcceptButton {
          &:hover {
            color: #539f57;
          }
        }
      }
      .TitleInput {
        font-family: 'Roboto';
        background-color: transparent;
        color: $secondary-fg-color;
        border-radius: 0;
        box-sizing: border-box;
        border: none;
        font-size: 48px;
        font-weight: bold;
        border-bottom: 1px solid transparent;
        width: 100%;
        transition: all 0.5s;

        &:focus {
          outline: none;
          border-bottom: 1px solid $main-fg-color;
          transition: all 0.5s;
        }
      }
    }

    .HeaderMetaInfo {
      margin-top: 15px;
    }

    .HeaderButtons {
      display: flex;
      align-items: center;
      margin-top: 20px;
      width: 130px;
      justify-content: space-between;
    }
  }
}

.PlayButton {
  height: 32px;
  width: 90px;
  padding: 0;
  line-height: 14px;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
}
.DeleteButton {
  width: 20px;
  height: 20px;
}
