.PlaylistHeader {
  position: relative;
  z-index: 3;
  // min-height: 208px;
  padding-top: 30px; // 72-20 (in spo)
  padding-bottom: 16px;
  display: flex;
  // flex-direction: column;
  font-size: 14px;
  transition: 0.7s;

  .HeaderImage {
    margin-right: 24px;
    flex: 0 0 auto;
    width: 220px;
    height: 220px;
    border-radius: 8px;

    // position: absolute;
    top: -6px;
    bottom: -6px;
    // opacity: 0; // makes it invisible
    // transition: opacity 1000ms cubic-bezier(1, 0, 0.7, 1);
  }

  .HeaderData {
    padding: 5px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .HeaderLabel {
      font-size: 11px;
      letter-spacing: 0.16em;
    }

    .HeaderTitle {
      font-size: 48px;
    }

    .HeaderMetaInfo {
      margin-top: 10px;
    }

    .HeaderButtons {
      display: flex;

      .HeaderButton {
        margin-top: 40px;
        margin-right: 12px;
        height: 32px;

        .PlayButton {
          height: 32px;
          font-size: 14px;
        }
        .DeleteButton {
          height: 32px;
          font-size: 14px;
          padding: 5px 8px;
          letter-spacing: 0.1em;
        }
      }
    }
  }
}

/* .PlaylistHeaderScrolled {
  background-color: $main-bg-color;
  position: sticky;
  top: 0;

  transition: 0.7s;
  .HeaderImage,
  .HeaderLabel,
  .HeaderMetaInfo {
    display: none;
  }

  .HeaderData {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .HeaderTitle {
      font-size: 28px;
    }

    .HeaderButtons {
      .HeaderButton {
        margin-top: 0;
      }
    }
  }
} */
