// .QueueHeader {
//   padding-top: 72px;
//   padding-bottom: 16px;
//   font-size: 48px;
// }

.SectionDivider {
  padding: 48px 0 14px;
  margin: 0 0 16px;
  font-size: 18px;
  font-weight: 900;
}
