$sidebar-bg-color: transparent !default;
$sidebar-width: 100% !default;
$icon-bg-color: transparent !default;
$highlight-color: $sidebar-item-fg-hover-color !default;
$icon-size: 1.6em !default;
$sidebar-color: $sidebar-item-fg-color !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';

.pro-sidebar {
  // position: fixed;
  width: initial;
  min-width: initial;
  .pro-sidebar-inner {
    .pro-sidebar-header {
      // background: linear-gradient(0deg,rgba(86,101,144,0) 0%, red 100%);
      // border-bottom: 0 !important;
    }
    .pro-sidebar-content {
      // box-sizing: border-box;
      // border: 20px solid;
      // border-width: 30px;
      // border-image-slice: 2;
      // border-image: linear-gradient(0deg,rgba(86,101,144,0) 0%, red 100%);
    }
    .pro-sidebar-layout {
      overflow-y: hidden;
    }
  }
  .pro-menu-item {
    &:not(:first-child) {
      margin-top: 5px;
    }

    .pro-inner-item {
      padding: 2px 12px !important;
      .pro-icon-wrapper {
        margin: 0 !important;
        padding: 13px !important;
        border-radius: 10px !important;
      }
    }
  }

  .pro-icon svg {
    width: 1.6em;
    height: 1.6em;
  }

  .pro-menu-item.active {
    .pro-inner-item {
      .pro-icon-wrapper {
        background-color: rgba(255, 255, 255, 0.178) !important;
      }
    }
  }
}
