$sidebar-bg-color: transparent !default;
$sidebar-width: 72px !default;
$icon-bg-color: transparent !default;
$highlight-color: $sidebar-item-fg-hover-color !default;
$icon-size: 1.6em !default;
$sidebar-color: $sidebar-item-fg-color !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';

.pro-sidebar {
  .pro-sidebar-inner {
    .pro-sidebar-content {
      .pro-menu-item {
        .pro-item-content {
          position: absolute !important;
          width: $sidebar-width !important;
          left: 0 !important;
          font-size: 10px !important;
          font-weight: 600 !important;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          .pro-icon-number {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
          }
        }
      }
      .pro-menu-item.active {
        .pro-icon-number {
          color: $main-fg-color;
        }
      }
    }
    .pro-sidebar-layout {
      overflow-y: hidden;
    }
  }
  .pro-menu-item {
    &:not(:first-child) {
      margin-top: 5px;
    }

    .pro-inner-item {
      padding: 2px 12px !important;
      .pro-icon-wrapper {
        margin: 0 !important;
        padding: 13px !important;
        border-radius: 10px !important;
        .pro-icon {
          animation: none !important;
        }
      }
    }
  }

  .pro-icon svg {
    width: 1.6em;
    height: 1.6em;
  }

  .pro-menu-item.active {
    .pro-inner-item {
      .pro-icon-wrapper {
        background-color: rgba(255, 255, 255, 0.178) !important;
      }
    }
  }
}
