.InitialHeader {
  padding-top: 42px;
  padding-bottom: 16px;
  font-size: 48px;
}

.StickyHeader {
  position: fixed;
  top: 10px;
  left: 72px;
  right: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0 50px;
  background-color: $main-bg-color;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  font-size: x-large;
  z-index: 101;
  border-bottom: 1px solid $main-fg-color;
  .Head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
  }
  .ListHead {
    .Icon {
      width: 1.5em;
      height: 1.5em;
    }
    .LeftOptions,
    .Duration {
      text-align: right;
    }
    $outer-padding: 0 10px;
    $first-grid-column-size: 0.3fr;
    $grid-column-sizes: 3fr 2fr 0.8fr 0.5fr;
    $grid-column-gap: 10px;
    display: grid;
    grid-template-columns: $first-grid-column-size $grid-column-sizes;
    @media (min-width: 1340px) {
      grid-template-columns: 0.2fr $grid-column-sizes !important;
    }
    @media (min-width: 1600px) {
      grid-template-columns: 0.1fr $grid-column-sizes !important;
    }
    column-gap: $grid-column-gap;
    padding: $outer-padding;
    align-items: center;
    position: sticky;
    height: 40px;
    background-color: $main-bg-color;
    z-index: 100;
    user-select: none;
    div {
      letter-spacing: 2px;
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      &:hover {
        color: $main-fg-color;
        cursor: default;
      }
    }
  }
}

.StickyHeaderVisible {
  display: flex;
  .Title,
  .RightControls {
    animation: titleAnimation 0.5s ease forwards;
  }
}

@keyframes titleAnimation {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.PlaylistStickyHeader {
  .RightControls {
    display: flex;
    justify-content: space-between;
    width: 130px;
    align-items: center;
  }
}
