/* Theme */
$main-fg-color: #b80f0a;
$main-bg-color: #151314;
$main-bg-color-rgba: rgba(98, 114, 164, 0.45);
$secondary-fg-color: #f0f0f0;
$secondary-bg-color: rgb(133, 10, 10);
$selected-button-color: #6272a4;
$pressing-fg-color: #6272a4;
$pressing-button-fg-color: #f0f0f0;
$pressing-button-fg-color: #bd93f9;
$sidebar-and-player-bg-color: #44475a;
$sidebar-indicator-and-hover-button-bg-color: #bd93f9;
$selected-bg-color: #5f0c0d79;
$color-overlay-and-shadow-color: #6272a4;
$slider-bg-color: rgb(66, 3, 3);
$scrollbar-fg-and-selected-row-bg-color-color: #ffb86c;
$active-control-fg-color: #ffb86c;
$indicator-fg-and-button-bg-color: #6272a4;
$miscellaneous-bg-color: #6272a4;
$miscellaneous-hover-bg-color: #dedede;
$preserve-1-color: #ebdfff;
$tooltip-bg-color: #101010;
$sidebar-item-fg-color: #c7c7c7;
$sidebar-item-fg-hover-color: #ffffff;
$enabled-option-hover-color: #303030;
$button-and-scrollbar-inactive-color: #3c3131;
/* Sizes  */
$player-height: 70px;
$album-art-size: 52px;
$small-album-art-size: 42px;

/* Animation vars */
$dot-width: 10px;
$dot-height: 10px;
$dot-radius: $dot-width/2;

$dot-color: $main-fg-color;
$dot-bg-color: $dot-color;
$dot-before-color: $dot-color;
$dot-after-color: $dot-color;

$dot-spacing: $dot-width + $dot-width/2;
