/* Theme */
$main-fg-color: #ffb86c;
$main-bg-color: #44475a;
$secondary-fg-color: #f0f0f0;
$secondary-bg-color: #6272a4;
$selected-button-color: #6272a4;
$pressing-fg-color: #6272a4;
$pressing-button-fg-color: #f0f0f0;
$pressing-button-fg-color: #bd93f9;
$sidebar-and-player-bg-color: #44475a;
$sidebar-indeicator-and-hover-button-bg-color: #bd93f9;
$color-overlay-and-shadow-color: #6272a4;
$sidebar-indeicator-and-hover-button-bg-color: #6272a4;
$slider-bg-color: #966530;
$scrollbar-fg-and-selected-row-bg-color-color: #ffb86c;
$active-control-fg-color: #ffb86c;
$indicator-fg-and-button-bg-color: #6272a4;
$miscellaneous-bg-color: #6272a4;
$miscellaneous-hover-bg-color: #dedede;
$preserve-1-color: #ebdfff;
$tooltip-bg-color: #101010;
$sidebar-item-fg-color: #c7c7c7;
$sidebar-item-fg-hover-color: #ffffff;

$accent-color: #d5dff0;
$play-button-hover: #f8b36b;
$main-content-bg-color: #44475a;

$player-height: 70px;

/* Dracula theme
  main-fg                               = ffb86c
  main-bg                               = 44475a
  secondary-fg                          = F0F0F0
  secondary-bg                          = 6272a4
  selected-button                       = 6272a4
  pressing-fg                           = 6272a4
  pressing-button-fg                    = F0F0F0
  pressing-button-bg                    = bd93f9
  sidebar-and-player-bg                 = 44475a
  sidebar-indicator-and-hover-button-bg = bd93f9
  cover-overlay-and-shadow              = 6272a4
  slider-bg                             = 966530
  scrollbar-fg-and-selected-row-bg      = ffb86c
  active-control-fg                     = ffb86c
  indicator-fg-and-button-bg            = 6272a4
  miscellaneous-bg                      = 6272a4
  miscellaneous-hover-bg                = DEDEDE
  preserve-1                            = EBDFFF
*/
